*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

.nevbar ul li{
    list-style: none;
}
.nevbar ul li a{
    color: white;

}

.banner{
    background-image: url(../img/banner.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.icon i{
height: 60px;
width: 60px;
background-color: rgb(64, 35, 102);
line-height: 60px;
text-align: center;
color:white;
border-radius: 100%;
font-size: 18px;
}

.image img{
    max-width: 100%;
    border-radius: 10px;
}


.img-s img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.st-title h6{
    font-size: 20px;
}
.st-title img{
    max-width: 100%;
    height:170px;
    border-radius: 10px;
}
.social-icon i{
    font-size: 40px;
    margin-left: 50px;
}
footer p{
    font-size: 28px;
    line-height: 33px;
    margin: 16px;
    color: black;
}